<p class="title is-5">Sorted by Name</p>
<div class="columns">
  <%= render @customers %>
</div>

<div class="container">
  <p class="title is-5"><%= link_to "Customers With Missing A Missing Email Address", missing_email_customers_path %></p>
</div>