<p class="title is-5">Customers With Missing A Missing Email Address</p>
<div class="columns">
  <%= render @customers %>
</div>

<div class="container">
  <p class="title is-5"><%= link_to "Sort By Name", alphabetized_customers_path %></p>
</div>